* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*formato de la pagina para que no se vea la scrollbar horizonatal  */
body {
    width: 100vw;
    overflow-x: hidden;
}
/*formato de la pagina para que no se vea la scrollbar horizonatal  */

/* inicio de footer */

footer {
    background-color: $fondo;
    color: $negro;
    padding: 5px;
    text-align: center;
    font-size: medium;
}

footer .redes {
    background-color: $fondo_res;
    color:$negro;
    padding: 5px;
    text-align: center;
    font-size: 30px;
}

footer a {
    color: $color2;
    font-weight: bold;
}

footer .redes i {
    color: $color1;
    font-size: 20px;
    letter-spacing: 30px;

}

footer .redes a {
    text-decoration: none;

}

/* fin de footer */