

/* inicio de presentacion de productos */
.prod-left {
    background-image: url(../media/img/pastafrola_cerca-min.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;


}

.prod-right {
    padding: 20px;
}

.prod2-left {
    background-image: url(../media/img/pan_d_lado-min.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;

}

.prod2-right {
    padding: 20px;
}

.prod3-left {
    background-image: url(../media/img/pasta_rellena-min.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;

}

.prod3-right {
    padding: 20px;
}

/* fin de presentacion de productos */
/* inicio de presentacion de sevicios */

.serv-left {
    background-image: url(../../media/img/yo_cortando.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;

}

.serv-right {
    padding: 20px;
}

.serv2-left {
    background-image: url(../media/img/delivery-guy-1424808_1280.png);
    height: 200px;
    background-position: top;
    background-size: cover;
    margin-bottom: 40px;

}

.serv2-right {
    padding: 20px;
}

.serv3-left {
    background-image: url(../media/img/alfajores_choco_p-min.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;

}

.serv3-right {
    padding: 20px;
}

/* fin de presentacion de sevicios */



/* inico de encabezado de productos pagProductos.html */
h3 {
    margin-left: 10px;
}

/* fin  de encabezado de productos pagProductos.html */


/* inicio imagen de corte productos 2  */

.imagen-de-corte2 {
    height: 200px;
    width: 80%;
    margin-top: 40px;

}

.conteinerimg {
    height: 150px;
    width: 70%;
    background-image: url(../../media/img/pan_d_lado-min.jpg);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}


/* fin imagen de corte productos 2  */

/* inico de lista de productos pagProductos.html */

.tablas-prodcuctos {
    width: 90%;
    margin: 0 auto;

}

/* fin de lista de productos pagProductos.html */


// inicio de estilo receas

.prod-left {
    background-image: url(../media/img/pastafrola_cerca-min.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;


}

.prod-right {
    padding: 20px;
}

.prod2-left {
    background-image: url(../media/img/pan_d_lado-min.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;

}

.prod2-right {
    padding: 20px;
}

.prod3-left {
    background-image: url(../media/img/pasta_rellena-min.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;

}

.prod3-right {
    padding: 20px;
}

/* fin de presentacion de productos */
/* inicio de presentacion de sevicios */

.serv-left {
    background-image: url(../../media/img/yo_cortando.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;

}

.serv-right {
    padding: 20px;
}

.serv2-left {
    background-image: url(../media/img/delivery-guy-1424808_1280.png);
    height: 200px;
    background-position: top;
    background-size: cover;
    margin-bottom: 40px;

}

.serv2-right {
    padding: 20px;
}

.serv3-left {
    background-image: url(../media/img/alfajores_choco_p-min.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;

}

.serv3-right {
    padding: 20px;
}

/* fin de presentacion de sevicios */



